table, td {
    border: 1px solid black; /* Este estilo se aplica a la tabla y a la celda */
    border-collapse: collapse; /* Este estilo se aplica a la tabla y a la celda */
    width: 400px; /* Este estilo solo se aplica a la tabla */
    height: 50px; /* Este estilo solo se aplica a la celda */
}

tr:nth-child(even)
td:nth-child(even),
tr:nth-child(odd)
td:nth-child(odd){
    background-color: #FFCF9F;
}

tr:nth-child(odd)
td:nth-child(even),
tr:nth-child(even)
td:nth-child(odd){
    background-color: #D28C45;
}
/* Estilos para el combo box */
.styled-select {
    width: 200px; /* Ancho del combo box */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de letra */
    font-family: Arial, sans-serif; /* Fuente */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde del combo box */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo del combo box */
    outline: none; /* Eliminar borde azul al hacer clic */
    cursor: pointer; /* Mostrar cursor de mano */
    transition: all 0.3s ease; /* Transición suave */
}

/* Estilo al pasar el mouse por el combo box */
.styled-select:hover {
    background-color: #f1f1f1; /* Cambiar fondo al pasar el mouse */
    border-color: #888; /* Cambiar color del borde */
}

/* Estilo cuando se selecciona el combo box */
.styled-select:focus {
    border-color: #555; /* Color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra al enfocar */
}
.reiniciar-btn {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #f44336; /* Color rojo */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto de hover en el botón */
.reiniciar-btn:hover {
    background-color: #e53935;
}